.avatar{
    border-radius: 50%;
}
.miniature {
    max-width: 80px;
    height: auto;
    border-radius: 50%;
}
.supermini {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}

.container {
    max-width: 1049px;
}
.style-input #style_couleur{
 width: 100%;
}
.dropdown-small {
    min-width: 100px;
    font-size: 13px;
}